<footer class="footer footer-default" role="contentinfo">
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="{{ .Site.BaseURL }}">
                        AYahya
                    </a>
                </li>
                <li>
                    <a href="{{ .Site.BaseURL }}">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="{{ .Site.BaseURL }}">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                        MIT License
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            &copy; {{ now.Format "2006" }} &middot; <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
, Designed by
            <a href="http://www.invisionapp.com" target="_blank">Invision</a>. Coded by
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
        </div>
    </div>
</footer>
